*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
.main_block{
    width: 280px;
    height: 680px;
    background-color: rgb(30, 30, 30);
    color: white;
    padding-top: 20px;
    margin: 0 auto;
}
 
h2{
    text-align: center;
    padding-bottom: 20px;
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;

}
h2:hover{
    color: green;
    transform: rotate(20deg);
}
 
.nav_menu{
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}
 
.left_menu{
    list-style-type: none;
}
 
.left_menu-item{
    height: 75px;
 
}
 
.left_menu-link{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    color: white;
    border: 4px ridge rgb(30, 30, 30);
    border-bottom: transparent;
    padding-left: 50px;   
    /* transition-property: background-color, border-left;
    transition-duration: 1s;
    transition-timing-function: ease; */
    /* transition-delay: 0.5s */ ;   
    transition: all 4s ease 0.2;
    background:  linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(179,5,120,1) 43%, rgb(81, 5, 26) 58%, rgba(179,5,120,1) 78%, rgba(0,212,255,1) 100%);
}
 
.left_menu-link i{
    padding-right: 20px;
}
 
.left_menu:last-child{
    border-bottom: 4px ridge rgb(30, 30, 30);
}
 /* hover */
.left_menu-link:hover{
    color:rgb(146, 69, 63);
    border-left: 10px ridge rgb(146, 69, 63);
    /* background-color: blue; */
    background:  linear-gradient(90deg, rgb(56, 56, 194) 0%, rgba(179,5,120,1) 43%, rgb(197, 37, 82) 58%, rgba(179,5,120,1) 78%, rgb(7, 105, 124) 100%);
    /* transform: scale(1.2); */
    /* transform: scaleY(1.2); */
    transition: all 2s cubic-bezier(0.0, 0.0, 1.0, 1.0);
}