*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li{
    list-style-type: none;
}

header{
    width: 100%;
    height: 80px;
    background-color: rgb(132, 249, 231);
}

.logo{
    float:left;
    font-size: 2rem;
    margin-top: 20px;
    margin-left: 20px;
}

.main-menu{
    /* width: 60%; */
    height: 100%;
    float:right
}
.menu{
    height: 100%;
    /* background-color: forestgreen; */
}
.menu-item{
   display: inline-block;
   height: 100%;
   width: 150px;
   position: relative;
   margin-right: -5px;
   background-color:forestgreen;
   cursor: pointer;
   border: 1px solid black;
}

.menu-link{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    height: 100%;
    padding-top: 20px;
    
    /* border-right:0; */
    /* margin-right: -5px; */
    /* background-color: forestgreen; */
    /* pointer-events: none; */

}

.menu>.menu-item:hover{
    background-color: rgb(18, 94, 18);
}

.menu>.menu-item:hover .submenu{
    display: block;
}


.submenu{
    position: absolute;
    width: 100%;
    display: none;

}
.submenu>.menu-item{
    height: 80px;
    border-top: 0;
    position: relative;
 }
 .submenu>.menu-item:hover{
    background-color: rgb(18, 94, 18);
}

/* ==========submenu 22======= */
.submenu22{
    position: absolute;
    left: 99%;
    top: 0px;
    height: 80px;
    z-index: 100;
    display: none;
}

.submenu22>.menu-item{
    border-top: 0 ;
}

.submenu>.menu-item:hover .submenu22{
    display: block;
}
.submenu22>.menu-item:hover{
    background-color: rgb(18, 94, 18);
}



