* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    margin: 0 auto;
    width: 900px;
} */

/* shema1 */

.shema1,
.shema2
{
    min-width: 640px;
    max-width: 780px;
    border: 2px solid green;
    margin: 0 auto;
    min-height:720px;   
}

.header{
    background-color: brown;
    width: 100%;
    /* height: 130px; */
    height: 15vh;
}
.left{
    background-color: aqua;
    width: 140px;
    float: left;
    min-height: 360px;
}
.center{
    background-color: blue;
    /* margin-left: 140px;
    margin-right: 140px; */
    width: calc(100% - 280px);
    height: 70vh;
    float: left;
}

.right{
    width: 140px;
    float: right;
    background-color: aqua;
    min-height: 360px;
}
.fotter{
    background-color: brown;
    width: 100%;
    height: 15vh;
    clear: both;
}

/* 
.clearfix::before, .clearfix::after{
    content: "";
    display: block;
    width: 100%;
    clear:both;
} */




/*  ==========shema 2============ */

.shema2 .header{
    background-color: brown;
    width: 100%;
    /* height: 130px; */
    height: 15vh;   

}

.shema2 .left{
    background-color: aqua;
    width: 150px;
    height: 600px;
    float: left;
}

.shema2 .center{
    background-color: blue;
    width: calc(100% - 150px);
    float: right;
}

.shema2 .fotter{
    background-color: brown;
    width: 100%;
    height: 15vh;
    clear: both;
}
