*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    width: 100vw;
    height:100vh;
    background-image: url(../images/bg.jpg);
    background-repeat: repeat;    /* за замовчування */
    
}

.wrapper{
    width: 80vw;
    margin: 0 auto;
}

.header{
    background-image: url(../images/color.jpg);
    background-size: 6%;
    background-repeat: repeat-x;
    /* background-position-y: center; */
    /* width: 100%; */
    /* height: 80px; */
    height: 10vh;
    background-color: blue;
    color: white;
    padding-top: 30px;
}

.logo{
    float:left;
}
nav{
    float:right;
    width: 80%;
}

.header a{
    text-decoration: none;
    color: white;
    display: block;
    height: 100%;
    text-align: center;
    padding-top: 10px;
    background-color: rgb(11, 11, 143);
}

.header a:hover{
  background-color:  rgb(113, 113, 216);
  transform:scale(1.2);
  color:aqua;
}

/* .header a:active{
    background-color:  rgb(23, 188, 83);
  } */
  
.header ul>li{
    display:inline-block;
    height: 40px;
    color:white;
    width: 24%;
    
}
.main{
    /* height: 80vh; */
     /* text-overflow:ellipsis; */
    /* overflow: scroll; */
    /* overflow-y: scroll; */
    /* background-image: url(../images/computer-lab-7.png),
                        url(../images/Computer-PC-PNG-Clipart.png);
    background-repeat: no-repeat, no-repeat; */

    /* background-position: 50% 50%;
    background-position: center center; */
    /* background-position: bottom right, bottom left;  */
    /* background-size: 50%, 50%; */
    /* top, bottom, left, right, center */
    /* background-size: contain; */
    /* background-clip: content-box; */
    /* background-attachment: fixed; */
    /* background: url(../images/computer-lab-7.png) no-repeat bottom center ; */
    min-height: 80vh;
}
.footer{
    font-size: 1.5rem;
    color:white;
    background-color: blue;
    /* width: 100%; */
    /* height: 10vh; */
    height: 80px;
}



/* image style */

img{
    /* width: 300px; */
    border: 6px double blue ;
    /* border-radius: 50px; */
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 4px 4px 6px green;

}